body {
margin: 0px 50px;
font-family: Verdana;
padding: 0px;
}

#main
{
	
    
	margin-top: -10px;
}

header {
text-align: center;
margin: 0px 0px 20px;
position: relative;



background-color: #FDE3A7;
width: 98%;

background-image: url('fond.jpg');
background-size: 100%;
background-position: 0 267px;
padding: 20px 0px 50px;
}

h1 {
color: white;
font-size: 400%;
padding: 0px 0px 0px;
margin: 0px;

}

h1 + span
{
	color: white;
font-size: 200%;
font-weight: bold;
position: relative;
top: -15px;
}

header nav {

margin: 0px;
padding: 5px 0px;

}

header nav a
{
background-color: #F1A9A0;
min-height: 50px;
width: 100px;
display: inline-block;
padding: 10px 20px 5px;
border: 1px solid #6C7A89;
border-radius: 20px;
margin: 0px 2px;
text-decoration: none;
color: #6C7A89;
box-shadow: 1px 1px 1px #6C7A89;
}

header nav a:hover
{
	background-color: white;
}

header nav a img
{
	width: 50px;
	margin-bottom: 5px;
	
}

section {
width: 70%;
margin-left: 2%;


}


section h3 {
color: white;

text-transform: uppercase;
padding: 10px;
margin: -10px -10px 0px;
background-color: #6C7A89;
}

aside, section {
float: left;

}

aside { 
width: 23%;
font-size: 80%;
text-align: left;
position: relative;
background-color: #6C7A89;
color: white;
padding: 10px 20px;



}


section nav {
text-align: right;
padding: 5px 0px 15px;
margin: 0px auto;
}

footer {
clear: both;
text-align: center;
margin-top: 10px;
margin-bottom: -20px;
background-color: #6C7A89;
color: white;
font-size: 70%;
}

footer h2
{
	padding: 20px;
}

form {
text-align: left;
/*background-color: grey;*/
}

.rubrique
{
padding: 10px;
display: block;

margin-bottom: 10px;
overflow: hidden;
background-color: #DADFE1;
}

mark
{
margin: 10px;
padding: 5px 10px;
border-radius: 20px;
font-weight: bold;
font-size: 100%;
background-color: #D91E18;
color: white;
cursor: pointer;
}

mark:hover
{
background-color: yellow;
}

.rubrique table {
	
	width: 100%;
	
}
.rubrique table tr td {
	padding-right: 10px;
	text-align: right;
	
	}

.rubrique_hidden
{
border: solid blue 1px;
padding: 10px;
display: none;
}

aside li
{
list-style-type: none;
text-align: left;
}

/*___rendu.php___*/
#menu_gauche
{
width: 20%;
background-color: orange;
float: left;
}

#menu_gauche li
{
text-align: left;
list-style-type: circle;
list-style-position: inside;
margin-bottom: 10px;
/*list-style-image: url("boite-outils.jpg");*/
}

#menu_gauche li:nth-child(even)
{
background-color: grey;
}

#menu_gauche li:nth-child(odd)
{
background-color: Darkgrey;
}

#menu_gauche li select
{
width: 90%;
}

#rendu_cv
{
width: 70%;

float: left;
margin-left: 10px;
border: solid black 1px;
padding-top: 10px;

}

#coordonnees
{
position: relative;
left: 10px;
text-align: left;
/*background-color: orange;*/
width: 50%;
}

#titre_objectif
{
/*background-color: DarkOrange;*/
margin: 20px 50px;
}

#titre_objectif #titre
{
display: block;
border: solid black 1px;
width: 50%;
text-decoration: underline;
text-align: center;
margin: 10px auto 20px auto;
padding: 10px;
font-size: 150%;
}

.partie
{
padding: 0px 5%;
text-align: left;
}

.titre_partie
{
border: solid black 1px;
background-color: grey;
display: block;
margin: 10px auto;
text-align: center;
text-transform: uppercase;
}

#competences
{
/*background-color: coral;*/
}

#experiences
{
/*background-color: chocolate;*/
}

.tableau
{
margin: 0px auto;
width: 90%;
}

.tableau tr
{
height: 30px;
}

#formation
{
/*background-color: OrangeRed;*/
}

#informations
{
/*background-color: tomato;*/
text-align: left;

}

#informations p
{
margin: 15px 30px;
}

input[type=text], input[type=date]
{


}

input[type=text]:focus, input[type=date]:focus
{
/*box-shadow: 0px 1px 1px 1px #006fff;*/
/*box-shadow: 0px 0px 3px 1px #006fff;*/
}

input[type=submit]
{
background-color: #DADFE1;

padding: 5px 20px;
border: 0px solid white;
color: #6C7A89;
}

input[type=reset]
{

background-color: #DADFE1;
padding: 5px 20px;
border: 0px solid white;
color: #6C7A89;
}

input[type=submit]:hover, input[type=reset]:hover
{
color: #DADFE1;
background-color: #6C7A89;
cursor: pointer;
}

.correct
{
box-shadow: 0px 1px 1px 1px #29b634;
}

.error
{
box-shadow: 0px 1px 1px 1px #bc2a2a;
}

.lerreurstyle1
{
	
	color: #e63535;
	padding: 5px 10px;
	margin-left: 10px;
	
	font-size: 60%;
	
	float: right;
	width: 35%;
	
}

.lerreurstyle2
{
	
	color: #e63535;
	padding: 5px 10px;
	margin-left: 10px;
	
	font-size: 70%;
	
	margin-top: 3px;
	margin-bottom: 1px;
	
}

.lerreur
{
	display: none;
}

.rub-sel
{
	background: #90C695;
}

.rub-active
{
	background: #EB9532;
}