@charset "UTF-8";
/*@import "compass";*/
/*
$color1: #000827;
$color2: #583634;
$color3: #6a6172;
$color4: #95b2c2;
$color5: #f1f1f1;
*/
/*
$color1: #0d0d0d;
$color2: #184775;
$color3: #3fabf4;
$color4: #716e65;
$color5: #d9d9d9;
*/
/* line 27, ../sass/styles.scss */
body {
  font-family: Verdana;
  padding: 0px;
  margin: 0px;
  background-color: #95bfbc;
}

/* HEADER */
/* line 35, ../sass/styles.scss */
header {
  margin: 0px 0px 0px 0px;
  /*background-color: #FDE3A7;*/
  padding: 0px;
  overflow: hidden;
  background-image: url("../images/fond.jpg");
  background-size: 100%;
  background-position: 0 267px;
  border-bottom: 1px rgba(61, 72, 115, 0.5) solid;
}

/* line 46, ../sass/styles.scss */
.bandeau_haut {
  background-color: rgba(61, 72, 115, 0.75);
  text-align: right;
  color: #daf4c9;
}

/* line 52, ../sass/styles.scss */
.login {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2px;
  display: inline-block;
  border-bottom: solid rgba(61, 72, 115, 0.75) 2px;
}
/* line 59, ../sass/styles.scss */
.login:hover {
  border-bottom: solid 2px #daf4c9;
}

/* line 64, ../sass/styles.scss */
.zone_titre {
  height: 200px;
  border: solid yellow 0px;
  margin: 0px auto;
  text-align: right;
  text-align: center;
}
/* line 70, ../sass/styles.scss */
.zone_titre h1 {
  color: #3d4873;
  font-size: 600%;
  padding: 0px;
  margin: 0px 0px -10px 0px;
}
/* line 77, ../sass/styles.scss */
.zone_titre span {
  font-size: 300%;
  font-weight: bold;
  color: #daf4c9;
  /*background-color: rgba(255,255,255,0.75);*/
  padding: 0px 125px;
  text-shadow: 1px 0 0 #3d4873;
}

/* line 87, ../sass/styles.scss */
#main {
  width: 60%;
  margin: 0px auto;
  /*background-color: #9DA4DE;*/
}

/* line 93, ../sass/styles.scss */
aside, section {
  float: left;
}

/* line 97, ../sass/styles.scss */
aside {
  width: 28%;
  font-size: 80%;
  text-align: left;
  position: relative;
}
/* line 102, ../sass/styles.scss */
aside div {
  background-color: #3d4873;
  color: #daf4c9;
  padding: 1px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
  margin: 0px 0px 20px;
  /*border: solid 1px #6C7A89;*/
}
/* line 110, ../sass/styles.scss */
aside p {
  font-weight: bold;
  font-size: 150%;
}
/* line 114, ../sass/styles.scss */
aside li {
  list-style-type: none;
  text-align: left;
}

/* line 120, ../sass/styles.scss */
section {
  width: 70%;
  margin-left: 2%;
}

/* line 125, ../sass/styles.scss */
.top_navigation {
  /*background-color: #323665;*/
}
/* line 127, ../sass/styles.scss */
.top_navigation ul {
  width: 70%;
  margin: 20px auto 20px;
  padding: 0px;
}
/* line 131, ../sass/styles.scss */
.top_navigation li {
  display: inline-block;
  text-align: center;
  margin: 0px;
  padding: 0px;
  /*border-radius: 0px;*/
  width: 24%;
  font-weight: bold;
}
/* line 139, ../sass/styles.scss */
.top_navigation li a {
  text-decoration: none;
}
/* line 143, ../sass/styles.scss */
.top_navigation li:hover, .top_navigation li:hover a {
  /*@include link-color;*/
}
/* line 148, ../sass/styles.scss */
.top_navigation img {
  width: 50%;
  margin: 0px auto;
  padding: 0px;
}

/* line 155, ../sass/styles.scss */
.tn_active, .top_navigation li:hover, .top_navigation li:hover a {
  color: #3d4873;
  cursor: pointer;
}

/* line 160, ../sass/styles.scss */
.nav-inactive {
  color: #585858;
}

/* line 164, ../sass/styles.scss */
.nav-active {
  color: #3d4873;
}

/* line 168, ../sass/styles.scss */
.to_clear {
  clear: both;
}

/* line 170, ../sass/styles.scss */
.go-dispo {
  margin: 15px 0px 10px;
  text-align: center;
}

/* line 175, ../sass/styles.scss */
footer {
  clear: both;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -20px;
  background-color: #2b3259;
  color: #daf4c9;
  font-size: 80%;
}
/* line 183, ../sass/styles.scss */
footer h2 {
  padding: 20px;
  margin: 0px;
}

/* line 189, ../sass/styles.scss */
.colonnes {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  padding: 30px 0px 60px;
}

/* line 196, ../sass/styles.scss */
form {
  text-align: left;
  /*background-color: grey;*/
}

/* line 201, ../sass/styles.scss */
.rubrique {
  padding: 0px;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #dfdfdf;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
  position: relative;
}
/* line 209, ../sass/styles.scss */
.rubrique h3 {
  color: white;
  padding: 10px;
  margin: 0px;
  width: 100%;
  text-transform: uppercase;
  background-color: #585858;
  font-size: 130%;
}

/* line 219, ../sass/styles.scss */
mark {
  margin: 0px;
  padding: 10px 13px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 100%;
  background-color: #e9403b;
  color: white;
  cursor: pointer;
}
/* line 228, ../sass/styles.scss */
mark:hover {
  background-color: #585858;
}

/* line 233, ../sass/styles.scss */
.tableaux, .table_type2, .table_type3 {
  width: 100%;
  margin: 10px;
  line-height: 30px;
  color: #2b3259;
}
/* line 238, ../sass/styles.scss */
.tableaux caption, .table_type2 caption, .table_type3 caption {
  text-align: left;
  margin-left: 50px;
}
/* line 242, ../sass/styles.scss */
.tableaux input[type="text"], .table_type2 input[type="text"], .table_type3 input[type="text"], .tableaux input[type="date"], .table_type2 input[type="date"], .table_type3 input[type="date"] {
  width: 90%;
}

/* line 250, ../sass/styles.scss */
.table_type2 .col1 {
  width: 25%;
  font-size: 90%;
}
/* line 254, ../sass/styles.scss */
.table_type2 .td_stop {
  width: 50%;
}

/* line 261, ../sass/styles.scss */
.table_type3 .col1 {
  width: 5%;
}
/* line 264, ../sass/styles.scss */
.table_type3 .td_stop {
  width: 75%;
}
/* line 266, ../sass/styles.scss */
.table_type3 .td_stop table {
  width: 100%;
  line-height: 12px;
}
/* line 270, ../sass/styles.scss */
.table_type3 .td_stop .sscol1 {
  padding-right: 1%;
  width: 15%;
  text-align: right;
}
/* line 275, ../sass/styles.scss */
.table_type3 .td_stop .sscol2 {
  width: 30%;
}
/* line 279, ../sass/styles.scss */
.table_type3 .td_stop .sscol3 {
  padding-right: 1%;
  width: 20%;
  text-align: right;
}

/* line 290, ../sass/styles.scss */
.td01-t3 {
  width: 15%;
  text-align: right;
}

/* line 299, ../sass/styles.scss */
input[type=text], input[type=date] {
  line-height: 25px;
  background-color: #fff;
  border: solid 1px white;
  color: #2b3259;
  font-family: 'Open Sans light',sans-serif;
  font-size: 110%;
  padding: 0px 2px;
}
/* line 308, ../sass/styles.scss */
input[type=text]:focus, input[type=date]:focus {
  border: solid #dadfe1 1px;
}

/* line 314, ../sass/styles.scss */
.btn-form-p1 {
  /*background-color: #DADFE1;*/
  background-color: #dfdfdf;
  padding: 10px 20px;
  border: 1px solid #2b3259;
  color: #2b3259;
  /*font-weight: bold;*/
  font-size: 110%;
  border-radius: 2px;
  /*color: #6C7A89;*/
  margin: 0px 8px 20px;
}
/* line 325, ../sass/styles.scss */
.btn-form-p1:hover {
  color: #DADFE1;
  background-color: #2b3259;
  /*background-color: #6C7A89;*/
  cursor: pointer;
}

/* line 333, ../sass/styles.scss */
.bouton_add {
  margin: 0px auto;
  display: block;
  color: rgba(43, 50, 89, 0.75);
  border: solid 1px rgba(43, 50, 89, 0.25);
  padding: 5px 10px;
  /*border: none;*/
  min-width: 30%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*color: #e5e5e5;*/
  font-family: 'Open Sans',Meiryo,sans-serif;
  font-size: 100%;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  /*margin: 0px 0px 0px 5px;*/
}
/* line 350, ../sass/styles.scss */
.bouton_add:hover {
  background-color: rgba(43, 50, 89, 0.5);
  color: rgba(255, 255, 255, 0.75);
}

/* line 362, ../sass/styles.scss */
#ide select, #obj select {
  background-color: #fff;
  border: solid 1px white;
  color: #333;
  font-family: 'Open Sans light',sans-serif;
  font-size: 115%;
  padding: 0px 2px;
  width: 90%;
  line-height: 25px;
}

/* line 373, ../sass/styles.scss */
.normal_input {
  box-shadow: 0px 0px 2px 1px #b4b1b1;
}

/* line 374, ../sass/styles.scss */
.correct {
  box-shadow: 0px 0px 2px 1px #29b634;
}

/* line 375, ../sass/styles.scss */
.error {
  box-shadow: 0px 0px 2px 1px #bc2a2a;
}

/* line 377, ../sass/styles.scss */
.lerreurstyle1 {
  color: #e63535;
  font-size: 60%;
}

/* line 378, ../sass/styles.scss */
.lerreurstyle2 {
  color: #e63535;
  padding: 5px 10px;
  margin-left: 0px;
  font-size: 70%;
  position: relative;
  text-align: left;
}

/* line 380, ../sass/styles.scss */
.info_bulle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  top: -80px;
  right: 20px;
  left: -120px;
  display: none;
  padding: 10px;
  border-radius: 5px;
}

/* line 381, ../sass/styles.scss */
.lerreurstyle2:hover .info_bulle {
  display: block;
}

/* line 383, ../sass/styles.scss */
.lerreur {
  display: none;
}

/* // c'est pas ├á quoi ├ºa sert???
.table_type1 { margin: 10px; width: 100%;}
.table_type1 tr { }
.table_type1 td { vertical-align: top; padding-bottom: 10px;}
.table_type1 td:first-child {}

.table_type1 input, .table_type1 textarea {
	width: 50%;
	background-color: #dadfe1;
	border: 0px solid grey;
	border-bottom: solid 1px grey;
}
*/
/* line 400, ../sass/styles.scss */
.commandes {
  text-align: left;
  margin: 10px 0px 10px;
  padding-left: 10px;
}

/* line 401, ../sass/styles.scss */
.compte_el {
  background-color: #b29633;
  padding: 6px 30px;
  border: none;
  min-width: 30%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #e5e5e5;
  font-family: 'Open Sans',Meiryo,sans-serif;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  margin: 0px;
}

/* line 407, ../sass/styles.scss */
.help {
  /*background-color: rgba(49,55,101,0.25);*/
  color: rgba(255, 255, 255, 0.25);
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: 'Open Sans',Meiryo,sans-serif;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  /*margin: 0px 10px 0px 5px;*/
  float: right;
  position: relative;
  top: -3px;
  right: 15px;
}

/* line 417, ../sass/styles.scss */
.cache-help {
  position: absolute;
  top: 0px;
  left: -725px;
  background-color: white;
  color: rgba(49, 55, 101, 0.75);
  width: 700px;
  /*overflow: hidden;*/
  padding: 5px 10px;
  display: none;
}

/* line 429, ../sass/styles.scss */
.help:hover .cache-help {
  display: block;
}

/* line 432, ../sass/styles.scss */
#zonedequals {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}

/* line 444, ../sass/styles.scss */
.td_stop table {
  font-size: 85%;
}

/* line 446, ../sass/styles.scss */
.li_menu {
  padding-left: 8px;
}

/* line 447, ../sass/styles.scss */
.li_menu li {
  margin: 8px 0px;
}

/* stylisation des checkboxes */
/* line 450, ../sass/styles.scss */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* line 451, ../sass/styles.scss */
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* line 452, ../sass/styles.scss */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
}

/*box-shadow: inset 0 1px 3px rgba(0,0,0,.3);*/
/* line 454, ../sass/styles.scss */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: 'Ô£ö';
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s;
}

/* line 455, ../sass/styles.scss */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* line 456, ../sass/styles.scss */
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(2);
}

/* line 458, ../sass/styles.scss */
.warning {
  display: none;
}

/* line 460, ../sass/styles.scss */
.rubrique_hidden {
  border: solid blue 1px;
  padding: 10px;
  display: none;
}

/* ESSAIS MEDIAS QUERRIES */
@media screen and (max-width: 800px) {
  /* line 465, ../sass/styles.scss */
  #main {
    width: 95%;
  }

  /* line 468, ../sass/styles.scss */
  .warning {
    display: block;
    font-weight: bold;
    font-size: 150%;
    border: solid 1px red;
    color: red;
    border-radius: 5px;
    margin: 5px;
  }

  /* line 477, ../sass/styles.scss */
  .zone_titre {
    background-image: none;
    height: 100px;
  }

  /* line 481, ../sass/styles.scss */
  .zone_titre h1 {
    font-size: 300%;
    margin-bottom: 1px;
  }

  /* line 485, ../sass/styles.scss */
  #soustitre {
    font-size: 150%;
  }

  /* line 489, ../sass/styles.scss */
  .top_navigation ul {
    width: 100%;
    margin: 0px auto 20px;
    padding: 0px;
    text-align: center;
  }

  /* line 495, ../sass/styles.scss */
  .top_navigation ul li {
    display: inline-block;
    margin: 0px 0px 10px 0px;
    width: 40%;
  }

  /* line 502, ../sass/styles.scss */
  aside, section {
    float: none;
    width: 100%;
  }
}
