/*@import "compass";*/


$color1: #2b3259;
$color2: #3d4873;
$color3: #596d8c;
$color4: #95bfbc;
$color5: #daf4c9;

/*
$color1: #000827;
$color2: #583634;
$color3: #6a6172;
$color4: #95b2c2;
$color5: #f1f1f1;
*/
/*
$color1: #0d0d0d;
$color2: #184775;
$color3: #3fabf4;
$color4: #716e65;
$color5: #d9d9d9;
*/

$taillepolice: 100%;
    
body {
    font-family: Verdana;
    padding: 0px;
    margin: 0px;
    background-color: $color4;
}

/* HEADER */
header {
    margin: 0px 0px 0px 0px;
    /*background-color: #FDE3A7;*/
    padding: 0px;
    overflow: hidden;
    background-image: url('../images/fond.jpg');
    background-size: 100%;
    background-position: 0 267px;
    border-bottom: 1px rgba($color2, 0.5) solid;
}

.bandeau_haut {
    background-color: rgba($color2, 0.75);
    text-align: right;
    color: $color5;
}

.login {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 2px;
    display: inline-block;
    border-bottom: solid rgba($color2, 0.75) 2px;
    &:hover {
        border-bottom: solid 2px $color5;
    }
}
    
.zone_titre {
    height: 200px;
    border: solid yellow 0px;
    margin: 0px auto;
    text-align: right;
    text-align: center;
    h1 {
        color: $color2;
        font-size: 600%;
        padding: 0px;
        margin: 0px 0px -10px 0px;      
        
    }
    span {
        font-size: 300%;
        font-weight: bold;
        color: $color5;
        /*background-color: rgba(255,255,255,0.75);*/
        padding: 0px 125px;
        text-shadow: 1px 0 0 $color2;
    }
 }

#main {
    width: 60%;
    margin: 0px auto;
    /*background-color: #9DA4DE;*/
}

aside, section {
    float: left;
}

aside { 
    width: 28%;
    font-size: 80%;
    text-align: left;
    position: relative;
    div {
        background-color: $color2;
        color: $color5;
        padding: 1px 20px 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
        margin: 0px 0px 20px;
        /*border: solid 1px #6C7A89;*/
    }
    p {
        font-weight: bold;
        font-size: 150%;
    }
    li {
        list-style-type: none;
        text-align: left;
    }
}

section {
    width: 70%;
    margin-left: 2%;
}

.top_navigation {
    /*background-color: #323665;*/    
    ul {
        width: 70%;
        margin: 20px auto 20px; padding: 0px;
    }
    li {
        display: inline-block;
        text-align: center;
        margin: 0px;
        padding: 0px;
        /*border-radius: 0px;*/
        width: 24%;
        font-weight: bold;
        a {
            text-decoration: none;
            
        }        
        &:hover, &:hover a {
            /*@include link-color;*/
            @extend .tn_active;
        }
    }
    img {
        width: 50%;
        margin: 0px auto;
        padding: 0px;
    }
}

.tn_active {
    color: $color2;
    cursor: pointer;
}

.nav-inactive {
	color: grayscale($color2);
}

.nav-active {
	color: $color2;
}

.to_clear { clear: both;}

.go-dispo {
    margin: 15px 0px 10px;
    text-align: center;
}

footer {
    clear: both;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: $color1;
    color: $color5;
    font-size: 80%;
    h2 {
        padding: 20px;
        margin: 0px;
    }
}

.colonnes {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	padding: 30px 0px 60px;
}

form {
    text-align: left;
    /*background-color: grey;*/
}

.rubrique {
    padding: 0px;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: grayscale($color5);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    position: relative;
    h3 {
        color: white;
        padding: 10px;
        margin: 0px;
        width: 100%;
        text-transform: uppercase; background-color: grayscale($color2);
        font-size: $taillepolice*1.3;
    }
}

mark {
    margin: 0px;
    padding: 10px 13px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 100%;
    background-color: lighten(#D91E18, 10%);
    color: white;
    cursor: pointer;
    &:hover {
        background-color: grayscale($color2);        
    }    
}

.tableaux {
    width: 100%;
    margin: 10px;
    line-height: 30px;
    color: $color1;
    caption {
        text-align: left;
        margin-left: 50px;
    }
    input[type="text"], input[type="date"] {
        width: 90%;
    }
    
}

.table_type2 {
    @extend .tableaux;
    .col1 {
        width: 25%;
        font-size: $taillepolice*0.9;
    }
    .td_stop {
        width: 50%;
    }
}

.table_type3 {
    @extend .tableaux;
    .col1 {
        width: 5%;    
    }
    .td_stop {
        width: 75%;
        table {
            width: 100%;
            line-height: 12px;
        }
        .sscol1 {
            padding-right: 1%;
            width: 15%;
            text-align: right;
        }
        .sscol2 {
            width: 30%;
            
        }
        .sscol3 {
            padding-right: 1%;
            width: 20%;
            text-align: right;
        }
        .sscol4 {
            
        }
    }
}

.td01-t3 {
    width: 15%;
    text-align: right;
}
.td02-t3 { }




input[type=text], input[type=date]
{
    line-height: 25px;
    background-color: #fff;
    border: solid 1px white;
    color: $color1;
    font-family: 'Open Sans light',sans-serif;
    font-size: $taillepolice*1.1;
    padding: 0px 2px;
    &:focus {
        border: solid #dadfe1 1px;    
    }
}


.btn-form-p1 {
    /*background-color: #DADFE1;*/
    background-color: grayscale($color5);
    padding: 10px 20px;
    border: 1px solid $color1;
    color: $color1;
    /*font-weight: bold;*/
    font-size: $taillepolice*1.1;
    border-radius: 2px;
    /*color: #6C7A89;*/
    margin: 0px 8px 20px;
    &:hover {
        color: #DADFE1;
        background-color: $color1;
        /*background-color: #6C7A89;*/
        cursor: pointer;    
    }
}

.bouton_add {
    margin: 0px auto;
    display: block;
    color: rgba($color1,0.75);
    border: solid 1px rgba($color1,0.25);
	padding: 5px 10px;
    /*border: none;*/ min-width: 30%; 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	/*color: #e5e5e5;*/
    font-family: 'Open Sans',Meiryo,sans-serif;
    font-size: $taillepolice;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    /*margin: 0px 0px 0px 5px;*/
    &:hover {
	    background-color: rgba($color1,0.50);
		color: rgba(white,0.75);
}
}







#ide select, #obj select {
	background-color: #fff;
	border: solid 1px white;
	color: #333;
	font-family: 'Open Sans light',sans-serif;
	font-size: 115%;
	padding: 0px 2px;
	width: 90%;
	line-height: 25px;
}

.normal_input { box-shadow: 0px 0px 2px 1px #b4b1b1;}
.correct { box-shadow: 0px 0px 2px 1px #29b634;}
.error { box-shadow: 0px 0px 2px 1px #bc2a2a;}

.lerreurstyle1 { color: #e63535; font-size: 60%;}
.lerreurstyle2 { color: #e63535; padding: 5px 10px; margin-left: 0px; font-size: 70%; position: relative; text-align: left;}

.info_bulle { position: absolute; background-color: rgba(255,255,255,0.75); top: -80px; right: 20px; left: -120px; display: none; padding: 10px; border-radius: 5px;}
.lerreurstyle2:hover .info_bulle { display: block;}

.lerreur { display: none;}


/* // c'est pas à quoi ça sert???
.table_type1 { margin: 10px; width: 100%;}
.table_type1 tr { }
.table_type1 td { vertical-align: top; padding-bottom: 10px;}
.table_type1 td:first-child {}

.table_type1 input, .table_type1 textarea {
	width: 50%;
	background-color: #dadfe1;
	border: 0px solid grey;
	border-bottom: solid 1px grey;
}
*/

.commandes { text-align: left; margin: 10px 0px 10px; padding-left: 10px;}
.compte_el { background-color: rgba(178,150,51,1); padding: 6px 30px; border: none; min-width: 30%;
	-webkit-border-radius: 2px;	-moz-border-radius: 2px; border-radius: 2px;
	color: #e5e5e5;	font-family: 'Open Sans',Meiryo,sans-serif;	font-size: 12px; text-decoration: none;
	font-weight: bold; margin: 0px;
}

.help {
	/*background-color: rgba(49,55,101,0.25);*/ color: rgba(255,255,255,0.25);
	padding: 5px 10px; 
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	font-family: 'Open Sans',Meiryo,sans-serif; font-size: 16px; text-decoration: none;
    cursor: pointer; font-weight: bold;	/*margin: 0px 10px 0px 5px;*/ float: right;
	position: relative;
	top: -3px; right: 15px;
}

.cache-help {
	position: absolute;
	top: 0px;
	left: -725px;
	background-color: white;
	color: rgba(49,55,101,0.75);
	width: 700px;
	/*overflow: hidden;*/
	
	padding: 5px 10px;
	display: none;
}
.help:hover .cache-help { display: block;}


#zonedequals {
-moz-column-count:2;
-webkit-column-count:2;
-o-column-count:2;
column-count:2;
-moz-column-gap:20px;
-webkit-column-gap:20px;
-o-column-gap:20px;
column-gap:20px;
}


.td_stop table { font-size: 85%;}

.li_menu { padding-left: 8px;}
.li_menu li { margin: 8px 0px;}

/* stylisation des checkboxes */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked { position: absolute; left: -9999px;}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label { position: relative; padding-left: 25px; cursor: pointer;}
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before { content: ''; position: absolute; left:0; top: 0; width: 17px; height: 17px; border: 1px solid #aaa; background: #f8f8f8;}
/*box-shadow: inset 0 1px 3px rgba(0,0,0,.3);*/
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after { content: '✔'; position: absolute; top: 0; left: 4px; font-size: 14px; color: #09ad7e; transition: all .2s;}
[type="checkbox"]:not(:checked) + label:after { opacity: 0; transform: scale(0);}
[type="checkbox"]:checked + label:after { opacity: 1; transform: scale(2);}

.warning { display: none;}

.rubrique_hidden { border: solid blue 1px; padding: 10px; display: none;}


/* ESSAIS MEDIAS QUERRIES */
@media screen and (max-width: 800px) {
	#main {
		width: 95%;
	}
	.warning {
		display: block;
		font-weight: bold;
		font-size: 150%;
		border: solid 1px red;
		color: red;
		border-radius: 5px;
		margin: 5px;
	}
	.zone_titre {
		background-image: none;
		height: 100px;
	}
	.zone_titre h1 {
		font-size: 300%;
		margin-bottom: 1px;
	}
	#soustitre {
		font-size: 150%;
	}
	
	.top_navigation ul {
		width: 100%;
		margin: 0px auto 20px;
		padding: 0px;
		text-align: center;
	}
	.top_navigation ul li {
		display: inline-block;
		margin: 0px 0px 10px 0px;
		width: 40%;
	}
	
	
	aside, section {
		float: none;
		width: 100%;
	}
	
}